.toast-container {
    width: 250px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 50px;
    font-size: 17px;
    margin: auto;
}
.toast-message {
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    font-size: 17px;
    margin-top: 5px;
}

.toast--danger {
    background-color: rgb(236, 19, 19);
}
.toast--success {
    background-color: rgb(57, 207, 37);
}